@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.flex-large {
  display: flex;
}

.hero {
  height: 70vh;
  width: 60%;
  background-image: url(../images/desktop-image-hero-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.mobile1 {
  background-image: url(../images/desktop-image-hero-1.jpg);
}

.mobile2 {
  background-image: url(../images/desktop-image-hero-2.jpg);
}

.mobile3 {
  background-image: url(../images/desktop-image-hero-3.jpg);
}

.mobile-header {
  display: none;
}
.desktop-header {
  display: flex;
  gap: 11%;
  padding: 6%;
}
.close-btn {
  display: none;
}
.nav-items {
  display: flex;
  list-style: none;
  gap: 18%;
  color: white;
  font-size: 110%;
  cursor: pointer;
}
.list-item {
  .hover-underline {
    display: none;
  }
}
.list-item:hover {
  .hover-underline {
    display: block;
    letter-spacing: -2px;
    margin-left: 25%;
    margin-top: -9px;
  }
}
.logo {
  margin-left: auto;
  margin-right: auto;
}
.button {
  position: absolute;
  bottom: 0px;
  right: -9.6vw;
  display: flex;
}
.mobile-menu{
  display: none;
 
}
.shadow{
  display: none;
}

.btn {
  padding: 30px;
  background-color: black;
}
.btn:hover {
  background-color: hsl(0, 0%, 27%);
}
.item-desc {
  padding: 4.5%;
  width: 40%;
}
.shop-now-btn {
  margin-top: 6.8%;
  display: flex;
  gap: 14px;
}
.shop-now-btn:hover {
  cursor: pointer;
  opacity: 40%;
}
.shop-btn {
  background: transparent;
  padding: 0;
  width: 150%;
}
button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.right-section {
  display: flex;
  height: 30vh;
}
.right-img {
  width: 31.5vw;
}
.desc2 {
  padding: 2%;
}
#shop {
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-weight: 600;
}
#item-desc-title {
  font-size: 300%;
  margin-bottom: 4.5%;
  line-height: 2.8rem;
  font-weight: 700;
}
#desc, #desc2 {
  color: hsl(0, 0%, 63%);
  line-height: 3vh;
  font-size: 103%;
}
#item-desc-title2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-bottom: 2.3%;
}

@media only screen and (max-width: 925px) {
  .flex-large {
    display: block;
  }
  .item-desc {
    width: 100%;
    padding: 10%;
  }
  .mobile-menu{
    display: flex;
    gap: 23vw;
    padding: 8.6%;
    background-color: white;
    margin-top: -22%;
    position:fixed;
    width: 100%;
    z-index: 10;
  }
  .shadow{
    display: block;
    height: 100vh;
    background-color: black;
    opacity: 60%;
    z-index: 40;
  }
  .desktop-header {
    display: none;
  }
  #item-desc-title2 {
    letter-spacing: 0.35rem;
  }
  .right-section {
    display: block;
  }
  .right-img {
    width: 100%;
  }
  .hero {
    width: 100%;
  }
  .desktop-header {
    display: none;
  }
  .mobile-header {
    padding: 9% 6%;
    display: flex;
  }
  .button {
    position: absolute;
    bottom: 0px;
    right: 0;
    display: flex;
  }
  #desc {
    font-size: 103%;
  }
}

@media only screen and (max-width: 725px) {
  .hero {
    background-image: url(../images/mobile-image-hero-1.jpg);
    width: 100%;
    height: 60vh;
  }

  .mobile1 {
    background-image: url(../images/mobile-image-hero-1.jpg);
  }

  .mobile2 {
    background-image: url(../images/mobile-image-hero-2.jpg);
  }

  .mobile3 {
    background-image: url(../images/desktop-image-hero-3.jpg);
  }
}

@media only screen and (max-width: 1110px) {
  .button {
    position: absolute;
    bottom: 0px;
    right: 0;
    display: flex;
  }
}
